.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  width: 60%;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

.container h1 {
  /* text-transform: uppercase; */
  background-color: black;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 4px #b11919;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.btn button {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #b11919;
  transition: 0.3s ease-in-out;
}

.btn button:hover {
  box-shadow: 8px 8px 12px #888888;
}

.search {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px #b11919;
  transition: 0.3s ease-in-out;
}
.main-card:hover {
  box-shadow: 8px 8px 12px #888888;
}
.main-card img {
  width: 150px;
  height: auto;
  padding: 20px;
}

.main-card h3 {
  text-align: center;
}
